* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li a {
  text-decoration: none;
}

div img {
  display: block;
  width: 100%;
}

.flex-container {
  display: flex;
  max-width: 992px;
  margin: auto;
  width: 100%;
  min-width: 320px;
}

header {
  background-color: lightgreen;
  height: 100px;
  display: flex;
  align-items: center;
}

header .list-items {
  display: flex;
  width: 100%;
  max-width: 260px;
  justify-content: space-between;
  align-items: center;
}

header .menu {
  justify-content: space-between;
  color: rgb(47, 79, 47);
}

.list-items li a {
  color: rgb(47, 79, 47);
}

.presentation {
  align-items: center;
  justify-content: space-between;
}

.presentation img {
  width: 450px;
  height: 450px;
  justify-content: space-between;
}

.presentation .presentation-text {
  min-height: 200px;
}

.presentation .presentation-text h1 {
  color: rgb(47, 79, 47);
  font-size: 48px;
  margin-bottom: 10px;
}

.btn {
  background-color: lightgreen;
  color: rgb(47, 79, 47);
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  width: 220px;
  display: block;
  height: 50px;
  line-height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#quem-somos {
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

#quem-somos h2 {
  font-size: 32px;
  color: rgb(47, 79, 47);
  display: flex;
  margin-bottom: 35px;
}
#quem-somos h2::before {
  content: '';
  height: 50px;
  width: 5px;
  margin-right: 5px;
  background-color: rgb(47, 79, 47);
  position: relative;
}

#quem-somos p {
  margin-bottom: 10px;
  width: 90%;
  justify-content: space-between;
}

#quem-somos img {
  width: 450px;
  height: 450px;
  justify-content: space-between;
}

.container-extern {
  background-color: rgb(47, 79, 47);
  width: 100%;
}

#servicos {
  flex-direction: column;
  padding-top: 50px;
}

#servicos h2 {
  color: black;
  font-size: 32px;
  margin-bottom: 20px;
}

.list-services {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  line-height: 20px;
  padding-bottom: 50px;
}

.list-services .item-servico {
  text-align: center;
}

.item-servico a {
  width: 120px;
  background-color: lightgreen;
  border-radius: 30px;
  height: 50px;
  margin-top: 20px;
  line-height: 50px;
  padding: 10px;
  text-align: center;
  color: rgb(47, 79, 47);
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
}

.item-servico p {
  font-weight: 700;
  font-size: 18px;
  margin-top: 10px;
}

.item-servico img {
  width: 70%;
  margin: auto;
}

#planos {
  flex-direction: column;
  min-height: 50vh;
  padding-top: 50px;
}

#planos h2 {
  font-size: 32px;
}

.list-planos {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.item-plano {
  flex: 1;
  border: 5px solid rgb(47, 79, 47);
  margin-right: 20px;
  max-width: 240px;
  padding: 10px;
}

.item-plano .btn {
  margin: auto;
  margin-bottom: 20px;
}

.item-plano h3 {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10px;
}

.item-plano h3::after {
  content: '';
  background-color: rgb(47, 79, 47);
  width: 100%;
  height: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.item-plano ul {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}

.item-plano ul li {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 5px;
}

.item-plano ul li::before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: rgb(47, 79, 47);
  margin-right: 5px;
}

footer {
  background-color: rgb(47, 79, 47);
  height: 70px;
  display: flex;
  align-items: center;
}

footer .footer {
  justify-content: space-between;
  color: lightgreen;
}

/* ======= MOBILE ====== */

@media (max-width: 992px) {
  .flex-container {
    flex-direction: column;
  }
  .presentation {
    flex-direction: column-reverse;
  }
  .presentation .presentation-text {
    width: 100%;
  }

  #quem-somos {
    flex-direction: column-reverse;
    margin-bottom: 20px;
  }

  #quem-somos img {
    min-width: 320px;
    margin: auto;
  }

  .list-services {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .item-servico img {
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
  }
  .list-planos {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .list-planos .item-plano {
    max-width: 90%;
    margin: auto;
    width: 100%;
    margin-bottom: 20px;
  }

  #planos h2 {
    margin-bottom: 30px;
  }
}
